.expense-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}
.expense-filter select {
  outline: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.2rem;
}

.expense-filter label {
  color: #fff;
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
}
