.button {
  padding: 1rem 1.5rem;
  max-width: 20rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background: #7950f2;
  border: none;

  border-radius: 0.5rem;
}
